:root {
    --lilac: #DBBBFB;
    --red: #DF6565;
    --green: #40D48D;
    --blue: #8ABDE2;
    --black: #000;
    --grey: #808080;
    --white: #fff;
}

html {
    /* background-color: #000000cc; */
    font-family: Roboto Mono, 'Courier New', Courier, monospace;
}

p {
    font-size: 1rem;
    text-align: center;
}

h3 {
    text-transform: uppercase;
}

header,
footer {
    padding: 1rem 1.5rem;
}

header > img {
    margin: auto;
}

body {
    max-width: 420px;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem auto;
}

.input-data,
.button-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
    height: 4rem;
}

textarea {
    padding: 0.5rem;
    border: var(--grey) solid 2px;
}

.input-current,
.input-rows-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

#input-rows {
    width: 3rem;
    height: 2.5rem;
    text-align: center;
}

.input-current {
    flex-direction: row;
}

.input-container,
.progress-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.counter-display {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.counter-wrapper {
    background-color: var(--white);
    border-radius: 2.5rem;
    border: var(--lilac) solid 0.25rem;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.big-num {
    font-size: 6rem;
}

.counter-controls-wrapper {
    padding: 0 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button,
.button {
    background-color: var(--white);
    border-radius: 2.5rem;
    border-width: 0.25rem;
    border-style: solid;
    padding: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    gap: 0.75rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 3.5rem;
}

/* button:active {
    background-color: ;
} */

.btn-round {
    width: 5rem;
    height: 5rem;
}

#btn-clear {
    background-color: #eeeeee;
    border: none;
    font-size: 1rem;
    border-radius: 0 0 2.25rem 2.25rem;
}

#btn-set,
#btn-submit {
    border-color: var(--green);
}

#btn-submit {
    width: 4.5rem;
    height: 4rem;
}

#btn-confirm:hover {
    border-color: var(--green);
    background-color: var(--green);
    color: var(--white);
}

#btn-subtract {
    border-color: var(--red);
}

#btn-reset {
    border-color: var(--black);
    width: 4rem;
    height: 4rem;
}

#btn-add {
    border-color: var(--green);
}

#note-pad {
    height: 200px;
    color: var(--black);
    padding: 1rem;
    overflow-y: auto;
    font-size: 1rem;
    align-items: start;
    justify-content: left;
    border: 2px solid var(--black);
    background-color: #f2f2f2;
    width: 100%;
    text-wrap: wrap;
    overflow-wrap: break-word;
    position: relative;
}

#input-note {
    width: 100%;
}

#btn-clear-notes {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}